.head {
  font-size: 30px;
  text-align: center;
  margin: 50px 0;
}

.link {
  font-size: 20px;
  text-decoration: underline;
  text-align: center;
}

.contentContainer {
  /* max-width: 1440px; */
  margin: auto;
  /* border: 1px solid; */
}

.postDetails {
  max-width: 900px;
  margin: 100px auto;
}

.postTitle {
  font-size: 36px;
}

.postInfo{
  margin-top: 10px;
  font-size: 18px;
}

.postDesc{
  padding-top: 20px;
  font-size: 20px;
}

.hero{
  position: relative;
}

.heroContent{
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-10%, -50%);
  max-width: 500px;
  color: #fff;
}

.heroContent h1{
  font-size: 6.5vw;
  width: 80%;
}

.category{
  margin-bottom: 50px;
  font-size: 3vw;
  text-transform: uppercase;
  /* font-weight: 700; */
  margin-left: 10px;
}

.leftRightContainer{
  max-width: 1400px;
  margin: auto;
}

.paraLeftRight{
  margin-bottom: 50px;
  display: flex;
}

.rightCon{
  display: flex;
  flex-direction: row-reverse;
}

.paraLeftRight .imgContainer{
  flex: 1;   
}

.contentContainer{
  font-size: 18px;
  padding: 0 50px;
  flex: 1;
}

.contentContainer h2{
  margin-bottom: 20px;
}

.quote{
  margin: 100px 0;
  max-width: 900px;
  text-align: right;
  font-size: 40px;
  font-style: italic;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 0;
}
.quote p {
  display: inline;
}
.author{
  font-size: 26px;
}

.bulletSection{
  max-width: 900px;
  margin: auto;
  margin-bottom: 100px;
}

.bulletSection h3{
  font-size: 30px;
  margin-bottom: 20px;
}

.bulletSection p{
  font-size: 18px;
}

.bulletSection h4{
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 10px;
}

.bulletSection ul li{
  list-style-position: inside;
}

@media screen and (max-width: 1700px) {
  .leftRightContainer{
    max-width: 1300px;
  }
}
@media screen and (max-width: 1420px) {
  .leftRightContainer{
    max-width: 1150px;
  }
  .heroContent{
    width: 300px;
  }
  .heroContent h1{
    width: 100%;
  }
}
@media screen and (max-width: 1300px) {
  .leftRightContainer{
    max-width: 900px;
  }
  .postDetails {
    max-width: 700px;
  }
  .rightCon .contentContainer{
    padding-left: 0;
  }
  .leftCon .contentContainer{
    padding-right: 0;
  }
}
@media screen and (max-width: 1010px) {
  .heroContent{
    width: 220px;
  }
}
@media screen and (max-width: 990px) {
  .leftRightContainer, .bulletSection{
    max-width: 700px;
  }
}
@media screen and (max-width: 767px) {
  .leftRightContainer, .bulletSection, .postDetails{
    max-width: 90%;
  }
  .paraLeftRight{
    flex-direction: column;
  }
  .contentContainer{
    margin: 30px 0;
  }
}